
body {
  background: #000000; /* neo4j green => #004256; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#textarea {
  height: 172px;
  display:block; float:left;font-size:16px;
}

#container {
  margin: 0;
  padding: 0;
}

.brand {
  color: #ecf0f1;
  margin: 0.8em 2em;
  text-align: left;
  font-family: sans-serif;
  font-size: 2em;
}

#logo {
  color: #FFFFFF;
  float: left;
  margin-left: 0px;
}

#console {
  width: 1520px;
  margin: 20px 100px;
}

#console .stats {
  background: #34495e;
  margin: 5px;
  padding: 5px;
}

#graph {
  margin: 0;
  text-align: center;
  width: 80%;
}

svg {
 width: 100%;
 height: 100%;
 background: #000000;
 position: absolute;
 top: 0px;
 left: 0px;
}

#menu {
  color: #000000;
  background: transparent;
  position: absolute;
	top: 0px;
	left: 0px;
  font-family: sans-serif;
  margin: 0;
  width: 30%;
  z-index:1000
}

#menu .info {
  color: #000000;
  background: #000000;
  border-right: 1px solid #BABCBC;
  margin-right: 2px;
}

#node-menu {
  width:20%;
}
/**
 *  labels and tags
**/

.section-label {
  color: #ffffff;
  background: transparent;
  font-family: sans-serif;
  font-size: 8px;
  height:10px;
}

.subsection {
  position: relative;
}

.subsection-label {
  color: #ffffff;
  background: #ff7e00;
  font-family: sans-serif;
  font-size: 12px;
  padding: 0px;
}

.item-label {
  color: #ffffff;
  background: #ff7e00;
  font-family: sans-serif;
  font-size: 12px;
  padding: 0px;
  margin: 2px 0 2px 2px;
}

.item-value, input, select{
  color: #000000;
  border: 0px gray;
  background: #FFFFFF;
  font-family: sans-serif;
  font-size: 12px;
  padding: 0px;
  width: 100%;
  height: 18%;
}

.width-20 {
  display: inline-block;
  width: 20px;
}

.width-30 {
  display: inline-block;
  width: 30px;
}

.width-40 {
  display: inline-block;
  width: 30px;
}

.width-50 {
  display: inline-block;
  width: 50px;
}

.width-100 {
  display: inline-block;
  width: 100px;
}

.width-90 {
  width: 90px;
}

.width-half {
  width: 42%;
}

.width-all {
  width: 84%;
}

.width-sixth {
  width: calc(50% - 1px);
  height: 10px;
}
/**
 *  Form elements
**/

.form-label, .form-input {
  display: block;
}

.form-label {
  width: 45px;
  text-align: right;
}

.form-label + .form-input {
  width: 190px;

}

#node-edit-update {
  padding: 0px 0px 0px 0px;
}

#node-edit-delete {
  padding: 0px 0px 0px 0px;
}

.form-ctrl-group {
  border-bottom: 2px rgba(255,0,0,0.5);
}

textarea {
  height: 80%;
  width: 100%;
  border: 0px dark grey;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 11px;
}

.form-button {
  color: #FFFFFF;
  background: #ff7e00;
  font-family: sans-serif;
  font-size: 9px;
  border: none;
}

.form-button:hover {
  color: #FFFFFF;
  background: #007b00;
}

.form-button:disabled {
  color: #000000;
  background: #000000;
}

#node-edit-form {
  background: #FFFFFF;
  float: right;
  margin: 0 auto;
}

#node-data {
  margin: 0 auto;
  font-size: 16px;
  font-family: sans-serif;
}

.dialog {
  font-family: sans-serif;
  font-size: 16px;
}

.dialog-button {
}

/**
 *  general
**/

.centered {
  text-align: center;
}

.hang-right {
  position:absolute;
  right: 10px;
  display: inline-block;
  text-align: right;
}


path.link {
  stroke: #007b00;
	stroke-opacity: 1;
	stroke-width: 8px;
}

path.connector {
  fill: none;
  stroke: #ff7e00;
  stroke-width: 8px;
  z-index: -1;
}

div.tooltip, div.linkMenu {
  position: absolute;
  text-align: left;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/**
 *  Nodes (styles override those set server side for UI purposes)
**/

circle.node {
  fill: #ffffff;
  stroke: #007b00;
	stroke-width: 8px;
	cursor:url('../cursors/pointing.hand.cur'),pointer;
  z-index: 1;
}

circle.node.edge {
  stroke-width: 3px !important;
  stroke: #57B22A !important;
  stroke-dasharray: 10,5;
}

circle.node.edge:hover {
  stroke: #ff7e00 !important;
  stroke-width: 3px !important;
}

circle.node.selected {
  fill: #ffffff !important;
  stroke: #ff7e00
}

circle.node:hover {
  stroke: #ff7e00 !important;
  stroke-width: 8px !important;
  !stroke-dasharray: 2,2 !important;
}

circle.node.joiner {
  stroke:#ff7e00;
	stroke-opacity: 1;
	stroke-width: 8px;
}

/**
 *  Arrows
**/

polygon.arrowhead {
  width: 0;
  height: 0;
}

/**
 *  Draglets
**/

circle.draglet {
  fill: #ffffff;
  stroke-width: 8px;
  stroke: #007b00;
}

circle.draglet:hover {
  fill: #ffffff;
  stroke: #ff7e00;
  stroke-width: 8px;
  stroke-dasharray: none;
}

text {
  font: 16px sans-serif;
  pointer-events: none;
}

text.node-label {
  font: 16px sans-serif;
  pointer-events: none;
}

text.node-icon {
  font-size: 11px;
  pointer-events: none;
}

span.rel-icon {
  font-size: 14px;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}
