html, body {
	width:100%;
	height:100%;
	background:black;
	margin:0px;
	padding:0px;
	cursor:url('../cursors/open.hand.cur'),pointer;
	color:white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



/*..............INFOBURP */

#infoburp {
	height:100%;
	width:100%;
	border-spacing:0px;
}

/* graph */

#graph {
	position: relative;
}
#graph svg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

}

circle.node {
	stroke: lightgrey;
	stroke-width: 8px;
	cursor:url('../cursors/pointing.hand.cur'),pointer;
}

circle.unselected_node{
	fill:white;
	stroke: lightgrey;
}

circle.selected_node_yellow {
	fill:white;
	stroke: lightgrey;
}

circle.selected_node_red {
	fill:white;
	stroke: darkgrey;
}

line.link {
	stroke: lightgrey;
	stroke-opacity: 1;
	stroke-width: 10px;
}
line.temporal_link {
	stroke:darkgrey;
	stroke-opacity: 1;
	stroke-width: 10px;
}

div.nodehtml{
	height:100%;
	width:100%;
	text-align:center;
	vertical-align:middle;
	font-family:'URW Gothic L',verdana;
	word-wrap:normal;
}

body {color:black;}
h1 {color:black;}
h2 {color:black;}

circle.temporal_node{
	fill: #ff7e00;
	cursor:url('../cursors/pointing.hand.cur');
}

/* middle bar */

#middleBar {
	height:8px;
	position:relative;
	background:url('../images/logo.png') 0px 0px no-repeat darkgrey;
}
#_middleBar {
	height:8px;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
}

/* editor */

#editorWrap {
	display:none;
	height:28px;
	initialHeight:28px;
}
#infoburp.editing #editorWrap {
	display:table-row;
}
#editor {
	background:black;
}
#burpEdit {
	width:100%;
	height:100%;
	background:white;
	color:black;
	border:0px solid black;

}

input.non-active-editor{
	display:none;
}

input.active-editor{
	display:none;
}

/* run-node */

#run-node, #run-node2 {
	display:none;
}
