html, body {
	width:100%;
	height:100%;
	background:black;
	color:green;
	margin:0px;
	padding:0px;
	cursor:move;
	color:white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*..............BAR SPACING */

#empty {
	width:0px;
}

/*..............INFOBURP */

#infoburp {
	height:100%;
	width:100%;
	border-spacing:0px;
}

/* graph */

#graph {
	position: relative;
}
#infoburp.editing #graph {
	height:60%;
}
#graph svg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

circle.node {
  stroke: #007b02;
  stroke-width: 8.4px;
}

circle.unselected_node{
  fill:white;
  stroke: #007b02;
}

circle.selected_node_yellow {
    fill:white;
     stroke: #ff7e00;
}

circle.selected_node_red {
    fill:white;
     stroke: #ef0404;
}

line.link {
	stroke: #007b02;
	stroke-opacity: 1;
	stroke-width: 8.4px;
}
line.temporal_link {
	stroke: #ff7e00;
	stroke-opacity: 1;
	stroke-width: 8.4px;
}

div.nodehtml{
	height:100%;
	width:100%;
	text-align:center;
	vertical-align:middle;
	font-family:'URW Gothic L',verdana;
	word-wrap:normal;
}

body {color:black;}
h1 {color:black;}
h2 {color:black;}

circle.temporal_node{
	fill: #ff7e00;
}

/* middle bar */

#middleBar {
	height:20px;
	position:relative;
	background:url('logo.png') 1px no-repeat #007b02;
}
#_middleBar {
	height:20px;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
}
#editor1textbar {
	font-size:14px;
	font-family: "URW Gothic L",verdana;
	vertical-align:middle;
	border-radius:2px;
	background:black;
	border:2px solid #005b00;
	box-shadow: 0px 0px 0px 1px #006e00;
	color:#ffffff;

	width:35%;

	height:20px;
	left:0px;
	position:absolute;
	top:4px;
	font-weight:bold;
}
#editor2textbar {
	font-size:14px;
	font-family: "URW Gothic L",verdana;
	vertical-align:middle;
	border-radius:2px;
	background:black;
	border:2px solid #005b00;
	box-shadow: 0px 0px 0px 1px #006e00;
	color:#ffffff;

	width:35%;

	height:20px;
	right:0px;
	position:absolute;
	top:4px;
	font-weight:bold;
}


/* toolbar */

#toolbarWrap {
	display:none;
}
#infoburp.editing #toolbarWrap {
	display:table-row;
}
#toolbar, #toolbar2 {
	width:49%;
	height:51px;
}
#toolbar .goog-toolbar, #toolbar2 .goog-toolbar {
	height:100%;
}

/* editor */

#editorWrap {
	display:none;
}
#infoburp.editing #editorWrap {
	display:table-row;
}
#editor, #editor2 {
	background:#007b02;
}
#burpEdit, #burpEdit2 {
	width:100%;
	height:100%;
	background:black;
	color:white;
	border:0px solid black;
}

input.non-active-editor{
	display:none;
}

input.active-editor{
	display:none;
}

/* run-node */

#run-node, #run-node2 {
	display:none;
}
