circle.node {
  stroke: #007b02;
  stroke-width: 4.2px;
}

circle.unselected_node{
  fill:black;
}

circle.selected_node {
    fill:black;
}


line.link {
  stroke: #007b02;
  stroke-opacity: 1;
  stroke-width: 4.2px;
}
line.temporal_link {
  stroke: #ff7e00;
  stroke-opacity: 1;
  stroke-width: 4.2px;
}

div.nodehtml{

text-align:center;
vertical-align:middle;

}