circle.node {
  stroke: #007b02;
  stroke-width: 1.6px;
}

line.link {
  stroke: #007b02;
  stroke-opacity: 1;
  stroke-width: 4.2px;
}
line.temporal_link {
  stroke: yellow;
  stroke-opacity: 0.5;
  stroke-width: 6.2px;
}