circle.node {
  stroke: #007b02;
  stroke-width: 8.4px;
}

circle.unselected_node{
  fill:black;
  stroke: #007b02;
}

circle.selected_node {
    fill:black;
     stroke: #ff7e00;
}


line.link {
  stroke: #007b02;
  stroke-opacity: 1;
  stroke-width: 8.4px;
}
line.temporal_link {
  stroke: #ff7e00;
  stroke-opacity: 1;
  stroke-width: 8.4px;
}

div.nodehtml{

text-align:center;
vertical-align:middle;

}

circle.temporal_node{

fill: #ff7e00;
}

