html, body {
	width:100%;
	height:100%;
	background:black;
	color:green;
	margin:0px;
	padding:0px;
	cursor:move;
	color:white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



/*..............BAR */
#bar {
	width:100%;
	height:36px;
	left:0px;
	top:3px;
	position:fixed;
	background:#007b02;
	z-index:2;

}
#_bar {
	width:100%;
	margin:0px auto;
	list-style:none inside none;
	display:table;
	font-family:arial;
	font-size:18px;
	padding:0px 6px;
}
#_bar >* {
	display:table-cell;
	top:21px;
	padding:4px 0px;

}
/*..............BAR */
#tophighlight {
	width:100%;
	height:3px;
	left:0px;
	top:39px;
	position:fixed;
	background: #005b00;
	z-index:2;
}
#tophighlight2 {
	width:100%;
	height:1px;
	left:0px;
	top:38px;
	position:fixed;
	background: #006e00;
	z-index:2;
}
#tophighlight3 {
	width:100%;
	height:3px;
	left:0px;
	top:0px;
	position:fixed;
	background: #005b00;
	z-index:2;
}
#tophighlight4 {
	width:100%;
	height:1px;
	left:0px;
	top:3px;
	position:fixed;
	background: #006e00;
	z-index:2;
}

/*..............LOGO */
#logo {

	background:url('/img/logo.png');
	left:6px;
	top:3px;
	position:fixed;
}

}
#_logo {

	margin-left:-52px;


}
/*..............WHUFFIE */
#whuffie {
}
#_whuffie {
}
/*..............BAR SPACING */
#empty {
	width:0px;
}
/*..............SEARCH */
#search {
    
}
#_search {
	font-size:18px;
	font-family: "URW Gothic L",verdana;
	vertical-align:middle;
	border-radius:3px;
	background:black;
	border:3px solid #005b00;
	box-shadow: 0px 0px 0px 1px #006e00;
	color:#ffffff;
	padding:0px 2px;
	width:180px;
	height:28px;
	left:190px;
	top:7px;
	position:fixed;
	font-weight:bold;
}
#_search:focus {
	border:3px solid #c73;
}
/*..............SIGNIN */
#signin {
    width: 87px;
}
#signin img{
    position: absolute;
    right:61px;
    top:4px;
    z-index: 1;
}


#twitter {
    width: 28px;
}
#twitter img{
    position: absolute;
    right:5px;
    top:6px;
    z-index: 1;
}


#facebook {
    width: 28px;
}
#facebook img{
    position: absolute;
    right:33px;
    top:6px;
    z-index: 1;
}


#logoIB {
    width: 175px;
}

/*..............BAR */
#bottombar {
	width:100%;
	height:39px;
	left:0px;
	bottom:3px;
	position:fixed;
	background:#424242;
	z-index:2;
}
#_bottombar {
	width:100%;
	margin:0px auto;
	list-style:none inside none;
	display:table;
	font-family:arial;
	font-size:18px;
	padding:0px 6px;
}
#_bottombar >* {
	display:table-cell;
	bottom:3px;
	padding:4px 0px;

}

/*..............BAR */
#bottomhighlight {
	width:100%;
	height:3px;
	left:0px;
	bottom:41px;
	position:fixed;
	background:#0b0b0b;
	z-index:2;
}
#bottomhighlight2 {
	width:100%;
	height:1px;
	left:0px;
	bottom:44px;
	position:fixed;
	background:#040404;
	z-index:2;
}
#bottomhighlight3 {
	width:100%;
	height:3px;
	left:0px;
	bottom:1px;
	position:fixed;
	background:#646464;
	z-index:2;
}
#bottomhighlight4 {
	width:100%;
	height:1px;
	left:0px;
	bottom:0px;
	position:fixed;
	background:#aaaaaa;
	z-index:2;
}
#leftbrain {
    width: 28px;
}
#leftbrain img{
    position: absolute;
    left:6px;
    bottom:8px;
    z-index: 1;
}
#rightbrain {
    width: 28px;
}
#rightbrain img{
    position: absolute;
    left:34px;
    bottom:8px;
    z-index: 1;
}
#viewone {
    width: 28px;
}
#viewone img{
    position: absolute;
    left:90px;
    bottom:8px;
    z-index: 1;
}
#viewtwo {
    width: 28px;
}
#viewtwo img{
    position: absolute;
    left:118px;
    bottom:8px;
    z-index: 1;
}
#viewthree {
    width: 28px;
}
#viewthree img{
    position: absolute;
    left:146px;
    bottom:8px;
    z-index: 1;
}
#edit {
    width: 28px;
}
#edit img{
    position: absolute;
    right:398px;
    bottom:8px;
    z-index: 1;
}
#run {
    width: 28px;
}
#run img{
    position: absolute;
    right:370px;
    bottom:8px;
    z-index: 1;
}
/*
#normaltext {
    width: 28px;
}
#normaltext img{
    position: absolute;
    right:314px;
    bottom:8px;
    z-index: 1;
}
#headerone {
    width: 28px;
}
#headerone img{
    position: absolute;
    right:286px;
    bottom:8px;
    z-index: 1;
}
#headertwo {
    width: 28px;
}
#headertwo img{
    position: absolute;
    right:258px;
    bottom:8px;
    z-index: 1;
}
#bold {
    width: 28px;
}
#bold img{
    position: absolute;
    right:230px;
    bottom:8px;
    z-index: 1;
}
#italic {
    width: 28px;
}
#italic img{
    position: absolute;
    right:202px;
    bottom:8px;
    z-index: 1;
}
#underline {
    width: 28px;
}
#underline img{
    position: absolute;
    right:174px;
    bottom:8px;
    z-index: 1;
}
#unorderedlist {
    width: 28px;
}
#unorderedlist img{
    position: absolute;
    right:146px;
    bottom:8px;
    z-index: 1;
}

#orderedlist {
    width: 28px;
}
#orderedlist img{
    position: absolute;
    right:118px;
    bottom:8px;
    z-index: 1;
}
#outdent {
    width: 28px;
}
#outdent img{
    position: absolute;
    right:90px;
    bottom:8px;
    z-index: 1;
}
#indent {
    width: 28px;
}
#indent img{
    position: absolute;
    right:62px;
    bottom:8px;
    z-index: 1;
}
#link {
    width: 28px;
}
#link img{
    position: absolute;
    right:34px;
    bottom:8px;
    z-index: 1;
}
#insertimage {
    width: 28px;
}
#insertimage img{
    position: absolute;
    right:6px;
    bottom:8px;
    z-index: 1;
}
*/

/*..............INFOBURP */
#searchbox {
	width:160px;
	border:solid 3px;
	padding:5px;
	background:black;
	color:#174917;
	margin-left:700px;
	margin-right:20px;
	margin-top:10px;
	vertical-align:middle
}

circle.node {
  stroke: #007b02;
  stroke-width: 8.4px;
}

circle.unselected_node{
  fill:black;
  stroke: #007b02;
}

circle.selected_node {
    fill:black;
     stroke: #ff7e00;
}


line.link {
  stroke: #007b02;
  stroke-opacity: 1;
  stroke-width: 8.4px;
}
line.temporal_link {
  stroke: #ff7e00;
  stroke-opacity: 1;
  stroke-width: 8.4px;
}

div.nodehtml{

text-align:center;
vertical-align:middle;
font-family:'URW Gothic L',verdana;
word-wrap:normal;
}

circle.temporal_node{

fill: #ff7e00;
}

input.non-active-editor{

display:none;

}

input.active-editor{

display:block;

}