html, body {
	width:100%;
	height:100%;
	background:black;
	color:green;
	margin:0px;
	padding:0px;
	cursor:move;
	color:white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



/*..............BAR */
#bar {
	width:100%;
	height:36px;
	left:0px;
	top:3px;
	position:fixed;
	background:#007b02;
	z-index:2;
	
}
#_bar {
	width:100%;
	margin:0px auto;
	list-style:none inside none;
	display:table;
	font-family:arial;
	font-size:18px;
	padding:0px 6px;
}
#_bar >* {
	display:table-cell;
	top:21px;
	padding:4px 0px;
	
}
/*..............BAR */
#tophighlight {
	width:100%;
	height:3px;
	left:0px;
	top:39px;
	position:fixed;
	background: #005b00;
	z-index:2;
}
#tophighlight2 {
	width:100%;
	height:1px;
	left:0px;
	top:38px;
	position:fixed;
	background: #006e00;
	z-index:2;
}
#tophighlight3 {
	width:100%;
	height:3px;
	left:0px;
	top:0px;
	position:fixed;
	background: #005b00;
	z-index:2;
}
#tophighlight4 {
	width:100%;
	height:1px;
	left:0px;
	top:3px;
	position:fixed;
	background: #006e00;
	z-index:2;
}

/*..............LOGO */
#logo {
	
	background:url('/img/logo.png');
	left:6px;
	top:3px;
	position:fixed;
}

}
#_logo {
	
	margin-left:-52px;
	
	
}
/*..............WHUFFIE */
#whuffie {
}
#_whuffie {
}
/*..............BAR SPACING */
#empty {
	width:0px;
}
/*..............SEARCH */
#search {
    
}
#_search {
	font-size:18px;
	font-family: "URW Gothic L",verdana;
	vertical-align:middle;
	border-radius:3px;
	background:black;
	border:3px solid #005b00;
	box-shadow: 0px 0px 0px 1px #006e00;
	color:#ffffff;
	padding:0px 2px;
	width:180px;
	height:28px;
	left:190px;
	top:7px;
	position:fixed;
	font-weight:bold;
}
#_search:focus {
	border:3px solid #c73;
}
/*..............SIGNIN */
#signin {
    width: 87px;
}
#signin img{
    position: absolute;
    right:117px;
    top:4px;
    z-index: 1;
}


#twitter {
    width: 28px;
}
#twitter img{
    position: absolute;
    right:5px;
    top:6px;
    z-index: 1;
}

#google {
    width: 28px;
}
#google img{
    position: absolute;
    right:61px;
    top:6px;
    z-index: 1;
}
#facebook {
    width: 28px;
}
#facebook img{
    position: absolute;
    right:33px;
    top:6px;
    z-index: 1;
}
#yahoo {
    width: 28px;
}
#yahoo img{
    position: absolute;
    right:89px;
    top:6px;
    z-index: 1;
}

#logoIB {
    width: 175px;
}

/*..............BAR */
#bottombar {
	width:100%;
	height:39px;
	left:0px;
	bottom:3px;
	position:fixed;
	background:#424242;
	z-index:2;
}
/*..............BAR */
#bottomhighlight {
	width:100%;
	height:3px;
	left:0px;
	bottom:41px;
	position:fixed;
	background:#0b0b0b;
	z-index:2;
}
#bottomhighlight2 {
	width:100%;
	height:1px;
	left:0px;
	bottom:44px;
	position:fixed;
	background:#040404;
	z-index:2;
}
#bottomhighlight3 {
	width:100%;
	height:3px;
	left:0px;
	bottom:1px;
	position:fixed;
	background:#646464;
	z-index:2;
}
#bottomhighlight4 {
	width:100%;
	height:1px;
	left:0px;
	bottom:0px;
	position:fixed;
	background:#aaaaaa;
	z-index:2;
}



/*..............INFOBURP */
#infoburp {
	width:100%;
	height:100%;
	position:fixed;
	cursor:move;
	cursor:url(cursor/open.hand.cur);
	z-index:1;
}
#infoburp.dragging {
	cursor:url(cursor/gripping.hand.cur);
}
#infoburp.creating {
	cursor:url(cursor/pointing.hand.cur);
}
#infoburp >.html {
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	position:absolute;
}



/*..............NODES */
#infoburp .html .node {
	position:absolute;
	left:0px;
	top:6%;
	padding:0px;
	font-family:'URW Gothic L',verdana;
	cursor: url(cursor/pointing.hand.cur);
	vertical-align:middle;
	text-align:center;
	
}
#infoburp .html .node.editing {
}
#infoburp .html .node .html {
	color:black;
	font-size:inherit;
	overflow:hidden;
	display:inline;
	top:6%;
	height:88%;
	word-wrap:normal;
	position:absolute;
	vertical-align:middle;
        width: 100%;
}
#infoburp .html .node .html table{
        height: 100%;
        width: 100%;
        color:black;
	font-size:inherit;
	word-wrap:normal;
}
#infoburp .html .node .html table td{
	color:black;
	font-size:inherit;
	word-wrap:normal;
	vertical-align:middle;
        text-align: center;
}
/*#infoburp td {
	color:black;
	font-size:inherit;
	vertical-align:middle;
        height: 54px;        
}*/
#infoburp .html .node .vote {
	position:absolute;
	bottom:0px;
	border-radius:100%;
	width:20%;
	height:20%;
	border:2px solid black;
	overflow:hidden;
	padding:0px;
	font-size:inherit;
	background:url('') center center no-repeat white;
	background-size:100%;
	cursor: url(cursor/pointing.hand.cur);
}
#infoburp .html .node .voteUp {
	border-color:#007b02;
	background-color:#007b02;
	color:#007b02;
	right:3%;
	bottom:3%;
	z-index:1;
}
#infoburp .html .node .voteDown {
	border-color:#be0000;
	background-color:#be0000;
	color:#be0000;
	left:3%;
	bottom:3%;
	z-index:1;
}
#infoburp .html .node .loveit {
	border-color:#194593;
	background-color:#194593;
	color:#194593;
	top:3%;
	right:3%;
	z-index:1;
}
#infoburp .html .node .hateit {
	border-color:#ff7e00;
	background-color:#ff7e00;
	color:#ff7e00;
	top:3%;
	left:3%;
	z-index:1;
}
#infoburp .html .node .editor {
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	color:black;
	font-size:inherit;
	display:none;
}
#infoburp .html .node.editing .editor {
	display:block;
}
#infoburp .html .node .editor .textbox {
	position:absolute;
	top:6%;
	left:0%;
	width:100%;
	height:88%;
	border:0px solid white;
	
	color:black;
	font-size:inherit;
	font-family:'URW Gothic L',verdana;
	color:black;
	vertical-align:middle;
	text-align:center;
	word-wrap:normal;
	
    	
}
#infoburp .html .node .editor .edit {
	position:absolute;
	bottom:0px;
	border-radius:100%;
	width:20%;
	height:20%;
	border:1px solid white;
	background:white;
	overflow:hidden;
	padding:0px;
	font-size:inherit;
	font-family:'URW Gothic L',verdana;
	background:url('') center center no-repeat white;
	background-size:100%;
	
}
#infoburp .html .node .editor .editSave {
	border-color:#007b02;
	background-color:#007b02;
	color:#007b02;
	right:3%;
	bottom:3%;
}
#infoburp .html .node .editor .editCancel {
	border-color:#be0000;
	background-color:#be0000;
	color:#be0000;
	left:3%;
	bottom:3%;
}

#searchbox {
	width:160px;
	border:solid 3px;
	padding:5px;
	background:black;
	color:#174917;
	margin-left:700px;
	margin-right:20px;
	margin-top:10px;
	vertical-align:middle
}
#display {
	width:250px;
	display:none;
	overflow:hidden;
}
.display_box {
	padding:4px;
	font-size:12px;
	height:30px;
}
.display_box:hover {
	background:black;
	color:white;
}



#infoburp #addNode {
	background:url('/img/addNode.png') center center no-repeat;
	width:14px;
	height:14px;
	position:absolute;
	left:-100px;
	top:-100px;
}
#infoburp #addLink {
	background:url('/img/addLink.png') center center no-repeat;
	width:14px;
	height:14px;
	position:absolute;
	left:-100px;
	top:-100px;
}
